*{margin: 0; padding: 0;}
:root {
    --header-bg: #FFF4E7;
    --txt-black: #000;
    --txt-gray:#727272;
    --btn-orange: #FF900E;
    --txt-white:#fff;
    --box-heading:#424242;
}
/* -----import google font here----- */
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Work+Sans:wght@700&display=swap');
body{
    font-family: 'Montserrat', sans-serif;
    font-family: 'Work Sans', sans-serif;
}
/* -----header-section-style-start----- */
#header-wrapper{
    background-color: var(--header-bg);
    padding: 45px 150px;
}
/* -----nav-bar-style-start----- */
#header-wrapper nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#header-wrapper nav .logo h1{
    font-size: 45px;
    font-weight: bold;
    color: var(--txt-black);
}
#header-wrapper nav .menu ul{
    display: flex;
}
#header-wrapper nav .menu ul li{
    list-style-type: none;
    margin-left: 50px;
}
#header-wrapper nav .menu ul li a{
    text-decoration: none;
    color: var(--txt-black);
    font-size: 18px;
    font-weight: 500;
    transition: 0.4s all ease;
}
#header-wrapper nav .menu ul li a:hover{
    color: var(--btn-orange);
}
/* -----nav-bar-style-end----- */
/* -----header-banner-section-style-started----- */
#header-wrapper .banner-wrapper{
    margin-top: 80px;
}
#header-wrapper .banner-wrapper .banner-txt-btn{
    text-align: center;
}
#header-wrapper .banner-wrapper .banner-txt-btn h1{
    font-size: 64px;
    font-weight: bold;
    color: var(--txt-black);
}
#header-wrapper .banner-wrapper .banner-txt-btn p, #team-wrapper .team-txt-btn p, #article-wrapper .article-content p, #experience-wrapper p, #sponsors-wrapper p, #contact-wrapper p{
    font-size: 16px;
    color: var(--txt-gray);
    margin-top: 20px;
    line-height: 20px;
}
#header-wrapper .banner-wrapper .banner-txt-btn button, #team-wrapper .team-txt-btn button{
    margin-top: 20px;
    padding: 20px 25px;
    border-radius: 8px;
    border: none;
    background-color: var(--btn-orange);
    transition: 0.5s all ease;
}
#header-wrapper .banner-wrapper .banner-txt-btn button a, #team-wrapper .team-txt-btn button a{
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    color: var(--txt-white);
    transition: 0.5s all ease;
}
#header-wrapper .banner-wrapper .banner-txt-btn button:hover, #team-wrapper .team-txt-btn button:hover{
    background-color: var(--txt-gray);
}
#header-wrapper .banner-wrapper .banner-txt-btn button:hover a, #team-wrapper .team-txt-btn button:hover a{
    color: #FF900E;
}
#header-wrapper .banner-wrapper .banner-img img{
    width: 100%;
    margin-top: 30px;
}
/* -----header-banner-section-style-end----- */
/* -----header-section-style-end----- */
/* -----team-section-style-start----- */
#team-wrapper{
    padding: 50px 150px;
    display: flex;
    align-items: center;
}
#team-wrapper .team-imgs{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
}
#team-wrapper .team-imgs img, #article-wrapper .article-img img{
    width: 100%;
}
#team-wrapper .team-txt-btn{
    padding-left: 50px;
    width: 50%;
}
#team-wrapper .team-txt-btn h2{
    font-size: 45px;
    font-weight: bold;
    color: var(--txt-black);
}
#team-wrapper .team-txt-btn h2 .txt-gray{
    color: var(--txt-gray);
}
#team-wrapper .team-txt-btn h2 .txt-orange{
    color: var(--btn-orange);
}
/* -----team-section-style-end----- */
/* -----article-section-style-started----- */
#article-wrapper{
    padding: 50px 150px 0px 150px;
    display: flex;
}
#article-wrapper .article-content{
    width: 50%;
    padding-right: 50px;
}
#article-wrapper .article-content h2{
    font-size: 45px;
    font-weight: bold;
    border-left: 5px solid var(--btn-orange);
    padding-left: 20px;
    margin-bottom: 5px;
}
#article-wrapper .article-content article{
    padding: 25px;
    box-shadow: 0 4px 2px -2px #e7e6e670;
}
#article-wrapper .article-content article h3{
    font-size: 20px;
    font-weight: 600;
    color: var(--txt-black);
}
#article-wrapper .article-content article p{
    margin-top: 10px;
}
#article-wrapper .article-img{
    width: 50%;
}
#article-wrapper .experience-btn{
    background-color: var(--btn-orange);
    padding: 30px 35px;
    border: none;
    border-radius: 8px;
    position: relative;
    bottom: 85px;
    right: 85px;
}
#article-wrapper .experience-btn h2{
    color: var(--txt-white);
    font-size: 45px;
    font-weight: bold;
}
#article-wrapper .experience-btn p{
    color: var(--txt-white);
    font-size: 20px;
    font-weight: 600;
}
/* -----article-section-style-end----- */
/* -----experience-section-style-started----- */
#experience-wrapper{
    padding: 50px 150px;
}
#experience-wrapper h2, #sponsors-wrapper h2, #contact-wrapper h2{
    font-size: 45px;
    font-weight: bold;
    color: var(--txt-black);
}
#experience-wrapper .experiences-wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 80px;
}
#experience-wrapper .experiences-wrap .experience-box{
    border: 1px solid var(--btn-orange);
    border-radius: 8px;
    width: 160px;
    height: 160px;
    padding: 30px;
    text-align: center;
    transition: 0.8s all ease;
}

#experience-wrapper .experiences-wrap .experience-box:hover{
    transform: rotate(360deg) scale(1.4);
}

#experience-wrapper .experiences-wrap .experience-box h3{
    font-size: 40px;
    font-weight: 600;
    color: var(--box-heading);
    margin-top: 10px;
}
#experience-wrapper .experiences-wrap .experience-box p{
    font-size: 18px;
    font-weight: 600;
    color: var(--txt-gray);
}
/* -----experience-section-style-end----- */
/* -----sponsors-section-style-started----- */
#sponsors-wrapper, #contact-wrapper{
    padding: 50px 150px;
    text-align: center;
}
#sponsors-wrapper .sponsors-logos{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 60px;
}
#sponsors-wrapper .sponsors-logos img{
    filter: grayscale(100%);
    transition: 0.5s all ease;
}
#sponsors-wrapper .sponsors-logos img:hover {
    filter: none;
}
/* -----sponsors-section-style-end----- */
/* -----contact-section-style-started----- */
#contact-wrapper .contact-info-wrapper{
    margin-top: 50px;
    display: flex;
    align-items: center;
}
#contact-wrapper .contact-info-wrapper .contact-info{
    width: 50%;
    text-align: left;
}
#contact-wrapper .contact-info-wrapper .contact-info ul li{
    list-style-type: none;
    font-size: 20px;
    font-weight: 500;
    color: var(--txt-black);
    line-height: 50px;
}
#contact-wrapper .contact-info-wrapper .contact-info ul li i{
    color: var(--btn-orange);
    font-size: 30px;
    margin-right: 20px;
}
#contact-wrapper .contact-info-wrapper .contact-info .map-wrap{
    width: 50%;
}
/* -----contact-section-style-end----- */
/* -----fotter-section-style-started----- */
#footer{
    background-color: var(--header-bg);
    text-align: center;
    padding: 30px;
}
#footer p{
    font-size: 18px;
    color: var(--box-heading);
}
/* -----fotter-section-style-end----- */
/* -----Responsive-for-mobile-device-start----- */
@media only screen and (max-width: 576px){
        /* ---header-responsive-start--- */
        #header-wrapper {
            padding: 20px;
        }
        #header-wrapper nav {
            display: flex;
            flex-direction: column;
        }
        #header-wrapper nav .logo h1 {
            font-size: 35px;
        }
        #header-wrapper nav .menu ul {
            display: flex;
            flex-direction: column;
        }
        #header-wrapper nav .menu ul li {
            margin-left: 0;
            line-height: 30px;
        }
            #header-wrapper .banner-wrapper {
                margin-top: 20px;
            }
        #header-wrapper .banner-wrapper .banner-txt-btn h1 {
            font-size: 35px;
        }
        #header-wrapper .banner-wrapper .banner-txt-btn button,
        #team-wrapper .team-txt-btn button {
            padding: 10px 15px;
            }
        /* ---header-responsive-end--- */
        /* ---team-section-responsive--- */
        #team-wrapper {
            padding: 20px;
            display: flex;
            flex-direction: column;
        }
    
        #team-wrapper .team-imgs {
            width: 100%;
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            gap: 25px;
        }
        #team-wrapper .team-txt-btn {
            padding-left: 0px;
            width: 100%;
            text-align: center;
        }
    
        #team-wrapper .team-txt-btn h2 {
            margin-top: 15px;
            font-size: 35px;
        }
    /* ---team-section-responsive-end--- */
    /* ---article-section-responsive-started */
        #article-wrapper {
            padding: 20px;
            display: flex;
            flex-direction: column;
        }
    
        #article-wrapper .article-content {
            width: 100%;
            padding-right: 0px;
        }
    
        #article-wrapper .article-content h2 {
            font-size: 35px;
        }
    
        #article-wrapper .article-content article {
            padding: 25px;
            box-shadow: 0 4px 2px -2px #e7e6e670;
        }
    
        #article-wrapper .article-content article h3 {
            font-size: 15px;
        }
    
        #article-wrapper .article-content article p {
            margin-top: 10px;
        }
    
        #article-wrapper .article-img {
            margin-top: 30px;
            width: 100%;
        }
    
        #article-wrapper .experience-btn {
            padding: 20px 25px;
            position: relative;
            bottom: 0px;
            right: 0px;
            left: 25%;
            top: 20px;
        }
    
        #article-wrapper .experience-btn h2 {
            font-size: 35px;
        }
    
        #article-wrapper .experience-btn p {
            font-size: 15px;
        }
    /* ---article-section-responsive-end */
    /* -----experience-section-responsive-started----- */
        #experience-wrapper {
            margin-top: 50px;
            padding: 20px;
            text-align: center;
        }
    
        #experience-wrapper h2,
        #sponsors-wrapper h2,
        #contact-wrapper h2 {
            font-size: 35px;
        }
    
        #experience-wrapper .experiences-wrap {
            display: flex;
            flex-direction: column;
            margin-top: 30px;
        }
    
        #experience-wrapper .experiences-wrap .experience-box {
            width: 200px;
            height: 200px;
            padding: 30px;
            margin-top: 25px;
        }
        #experience-wrapper .experiences-wrap .experience-box h3 {
            font-size: 25px;
        }
    
        #experience-wrapper .experiences-wrap .experience-box p {
            font-size: 20px;
        }
    /* -----experience-section-responsive-end----- */
    /* -----sponsors-section-style-responsive-started----- */
        #sponsors-wrapper,
        #contact-wrapper {
            padding: 20px;
            text-align: center;
            margin-top: 30px;
        }
    
        #sponsors-wrapper .sponsors-logos {
            display: flex;
            flex-direction: column;
            margin-top: 0;
        }
        #sponsors-wrapper .sponsors-logos img{
            margin-top: 50px;
        }
    
        /* -----sponsors-section-style-responsive-end----- */
        /* -----contact-section-style-responsive-started----- */
        #contact-wrapper .contact-info-wrapper {
            margin-top: 50px;
            display: flex;
            flex-direction: column;
        }
    
        #contact-wrapper .contact-info-wrapper .contact-info {
            width: 100%;
            text-align: left;
        }
        #contact-wrapper .contact-info-wrapper .contact-info ul{
            margin-top: -30px;
            margin-bottom: 30px;
        }
        #contact-wrapper .contact-info-wrapper .contact-info ul li {
            font-size: 16px;
            line-height: 50px;
        }
    
        #contact-wrapper .contact-info-wrapper .contact-info ul li i {
            font-size: 20px;
            margin-right: 15px;
        }
        #contact-wrapper .contact-info-wrapper .map-wrap iframe{
            width: 500px !important;
        }
        /* -----contact-section-style-responsive-end----- */
         /* -----fotter-section-style-started----- */
        #footer p {
            font-size: 16px;
            line-height: 25px;
        }
         /* -----fotter-section-style-end----- */
}
/* responsive-for-mobile-device-end */
/* -----responsive-for-medium-device-started */
@media only screen and (min-width: 577px) and (max-width: 767px){
        /* ---header-responsive-start--- */
        #header-wrapper {
            padding: 20px;
        }
        #header-wrapper nav {
            display: flex;
            flex-direction: column;
        }
        #header-wrapper nav .logo h1 {
            font-size: 35px;
        }
        #header-wrapper nav .menu ul {
            display: flex;
            flex-direction: column;
        }
        #header-wrapper nav .menu ul li {
            margin-left: 0;
            line-height: 30px;
        }
            #header-wrapper .banner-wrapper {
                margin-top: 20px;
            }
        #header-wrapper .banner-wrapper .banner-txt-btn h1 {
            font-size: 35px;
        }
        #header-wrapper .banner-wrapper .banner-txt-btn button,
        #team-wrapper .team-txt-btn button {
            padding: 10px 15px;
            }
        /* ---header-responsive-end--- */
        /* ---team-section-responsive--- */
        #team-wrapper {
            padding: 20px;
            display: flex;
            flex-direction: column;
        }
    
        #team-wrapper .team-imgs {
            width: 100%;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 25px;
        }
        #team-wrapper .team-txt-btn {
            padding-left: 0px;
            width: 100%;
            text-align: center;
        }
    
        #team-wrapper .team-txt-btn h2 {
            margin-top: 15px;
            font-size: 35px;
        }
    /* ---team-section-responsive-end--- */
    /* ---article-section-responsive-started */
        #article-wrapper {
            padding: 20px;
            display: flex;
            flex-direction: column;
        }
    
        #article-wrapper .article-content {
            width: 100%;
            padding-right: 0px;
        }
    
        #article-wrapper .article-content h2 {
            font-size: 35px;
        }
    
        #article-wrapper .article-content article {
            padding: 25px;
            box-shadow: 0 4px 2px -2px #e7e6e670;
        }
    
        #article-wrapper .article-content article h3 {
            font-size: 15px;
        }
    
        #article-wrapper .article-content article p {
            margin-top: 10px;
        }
    
        #article-wrapper .article-img {
            margin-top: 30px;
            width: 100%;
        }
    
        #article-wrapper .experience-btn {
            padding: 20px 25px;
            position: relative;
            bottom: 0px;
            right: 0px;
            left: 35%;
            top: 20px;
        }
    
        #article-wrapper .experience-btn h2 {
            font-size: 35px;
        }
    
        #article-wrapper .experience-btn p {
            font-size: 15px;
        }
    /* ---article-section-responsive-end */
    /* -----experience-section-responsive-started----- */
        #experience-wrapper {
            margin-top: 50px;
            padding: 20px;
            text-align: center;
        }
    
        #experience-wrapper h2,
        #sponsors-wrapper h2,
        #contact-wrapper h2 {
            font-size: 35px;
        }
    
        #experience-wrapper .experiences-wrap {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            justify-content: space-around;
            grid-area: auto;
            margin-top: 30px;
        }
    
        #experience-wrapper .experiences-wrap .experience-box {
            width: 250px;
            height: 200px;
            padding: 30px;
            margin-top: 25px;
        }
        #experience-wrapper .experiences-wrap .experience-box h3 {
            font-size: 25px;
        }
    
        #experience-wrapper .experiences-wrap .experience-box p {
            font-size: 20px;
        }
    /* -----experience-section-responsive-end----- */
    /* -----sponsors-section-style-responsive-started----- */
        #sponsors-wrapper,
        #contact-wrapper {
            padding: 20px;
            text-align: center;
            margin-top: 30px;
        }
    
        #sponsors-wrapper .sponsors-logos {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            margin-top: 0;
        }
        #sponsors-wrapper .sponsors-logos img{
            margin-top: 50px;
        }
    
        /* -----sponsors-section-style-responsive-end----- */
        /* -----contact-section-style-responsive-started----- */
        #contact-wrapper .contact-info-wrapper {
            margin-top: 50px;
            display: flex;
            flex-direction: column;
        }
    
        #contact-wrapper .contact-info-wrapper .contact-info {
            width: 100%;
            text-align: left;
        }
        #contact-wrapper .contact-info-wrapper .contact-info ul{
            margin-top: -30px;
            margin-bottom: 30px;
        }
        #contact-wrapper .contact-info-wrapper .contact-info ul li {
            font-size: 16px;
            line-height: 50px;
        }
    
        #contact-wrapper .contact-info-wrapper .contact-info ul li i {
            font-size: 20px;
            margin-right: 15px;
        }
    
        /* -----contact-section-style-responsive-end----- */
         /* -----fotter-section-style-started----- */
        #footer p {
            font-size: 16px;
            line-height: 25px;
        }
         /* -----fotter-section-style-end----- */
}
/* -----responsive-for-medium-device-started */